.row {
  margin-left: 10px;
  color: aliceblue;
  margin-top: 1.5rem;
  padding: 0 2%;
  /* font-family: "Bebas Neue", cursive; */
}
.row > h2 {
  margin-bottom: 10px;
}
/* .row-posters {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
} */
.row-posters::-webkit-scrollbar {
  display: none;
}
.slider {
  margin: 0 10px;
}
.row-poster {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  margin-right: 20px;
  transition: transform 450ms;
}
.row-poster:hover {
  transform: scale(1.08);
}
.row-poster-large {
  max-height: 250px;
}
.row-poster-large:hover {
  transform: scale(1.09);
}
