.details {
  background-color: #181818;
  color: white;
}
.details-body {
  height: 600px;
  object-fit: contain;
  color: white;
}
.details-head {
  position: absolute;
  bottom: 6rem;
  left: 5rem;
}
.details-head > h1 {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 2%;
  padding-bottom: 0.5rem;
  max-width: 780px;
}
.details-head > p {
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 2%;
}
.details-btn {
  margin-top: 1rem;
  margin-left: 1rem;
}
.details-flex {
  display: flex;
  justify-content: center;
  padding: 0 6rem;
  padding-top: 0.5rem;
}
.details-left {
  flex: 0.6;
}
.details-right {
  flex: 0.4;
  padding-top: 2rem;
}
.details-left > p:last-child {
  margin: 0.5rem 0;
  font-size: 18px;
  line-height: 1.2rem;
  max-width: 80%;
}
.details-left-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
}
.details-left-inner > h3:first-child {
  font-size: 1rem;
  margin-right: 1rem;
}
.details-left-inner > h3 {
  font-size: 1rem;
}
.details-left-inner > h4 {
  border: 1px solid white;
  padding: 3px;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 1rem;
}
.details-left-inner > p {
  border: 1px solid white;
  padding: 2px;
  font-size: 0.8rem;
  margin: 0 1rem;
}
.details-right > p > span {
  color: gray;
  font-weight: 700;
}
.details-right > p {
  display: flex;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}
.recommendations {
  margin: 2rem 0;
  padding: 0 6rem;
}
.recommendations > h2 {
  margin-bottom: 1rem;
}
@media screen and (max-width: 425px) {
  .details-body {
    height: 480px;
  }
  .details-head {
    bottom: 1.5rem;
    left: 1.5rem;
  }
  .details-head > h1 {
    font-size: 2rem;
    max-width: 280px;
  }
  .details-flex {
    flex-direction: column;
    padding: 0 1.5rem;
  }
  .details-right {
    padding-top: 0rem;
  }
  .details-left > p:last-child {
    font-size: 16px;
    line-height: 1.1rem;
    max-width: 100%;
  }
  .details-left-inner > h3:first-child {
    margin-right: 12px;
  }
  .recommendations {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 425px) and (max-width: 800px) {
  .details-body {
    height: 500px;
  }
  .details-head {
    bottom: 2.5rem;
    left: 2.5rem;
  }
  .details-head > h1 {
    font-size: 2rem;
    max-width: 480px;
  }
  .details-flex {
    flex-direction: column;
    padding: 0 2.5rem;
  }
  .details-left > p:last-child {
    font-size: 16px;
    line-height: 1.1rem;
    max-width: 100%;
  }
  .details-right {
    padding-top: 0rem;
  }
  .details-right > p {
    overflow-x: auto;
  }
  .recommendations {
    padding: 0 3rem;
  }
}
