.nav {
  position: fixed;
  padding: 0 2.5%;
  top: 0;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition: all 0.3s ease-in;
}
.nav-logo {
  position: fixed;
  left: 10px;
  width: 100px;
  object-fit: contain;
}
.search-input {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.search-icon {
  position: fixed;
  top: 13px;
  font-size: 2rem !important;
  color: white;
  right: 100px;
  width: 35px;
}
.nav-avatar {
  position: fixed;
  top: 10px;
  right: 40px;
  width: 35px;
  border-radius: 3px;
  object-fit: contain;
}
.nav-scroll {
  background-color: #141414;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-left: 6rem;
}
.nav-link {
  text-decoration: none;
  color: #e5e5e5;
  letter-spacing: 1px;
  padding: 0 0.5rem;
  font-size: 0.85rem;
  transition: all 80ms ease-in-out;
}
.nav-link:hover {
  color: #cfcccc;
}
.active {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
