.nav {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 2.5%;
  top: 0;
  height: 55px;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease-in;
}
.menu-btn {
  display: none;
}
.nav-logo {
  margin-left: 5px;
  width: 100px;
  object-fit: contain;
}
.search-input {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.search-icon {
  position: fixed;
  top: 13px;
  font-size: 2rem !important;
  color: white;
  right: 100px;
  width: 35px;
}
.nav-avatar {
  position: fixed;
  top: 10px;
  right: 40px;
  width: 35px;
  border-radius: 3px;
  object-fit: contain;
}
.nav-scroll {
  background-color: #141414;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.nav-link {
  text-decoration: none;
  color: #e5e5e5;
  letter-spacing: 1px;
  padding: 0 0.5rem;
  font-size: 0.85rem;
  transition: all 80ms ease-in-out;
}
.nav-link:hover {
  color: #cfcccc;
}
.active {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .menu-btn {
    display: block;
    color: #e5e5e5;
  }
  .sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 999;
  }
  .sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: white;
    padding: 1.5rem;
  }
  .sidebar-list > li {
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .sidebar-list > li:hover {
    background-color: #e50914;
    font-size: 1.2rem;
  }
  .sidebar-logo {
    position: fixed;
    width: 100px;
    height: 60px;
    top: 0.3rem;
    left: 1rem;
  }
  .close-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .logo-list {
    margin-bottom: 5rem;
  }
  .nav-logo {
    position: fixed;
    left: 25px;
    width: 100px;
    object-fit: contain;
  }
  .search-icon {
    top: 15px;
  }
  .nav-avatar {
    width: 30px;
    top: 13px;
  }
  .MuiSvgIcon-root {
    font-size: 1.5rem !important;
  }
  .nav-list {
    display: none;
  }
}
