@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800&family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* border: 0.5px solid red; */
  /* box-sizing: border-box; */
}

body {
  background-color: #141414;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
