.banner {
  height: 600px;
  object-fit: contain;
  color: white;
}
.banner-content {
  margin-left: 20px;
  padding-top: 300px;
  height: 112px;
}
.banner-title {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 2%;
  padding-bottom: 0.5rem;
  max-width: 780px;
}
.banner-desc {
  width: 45rem;
  max-width: 450px;
  /* padding-top: 1rem; */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  height: 80px;
  padding: 0 2%;
}
.banner-btn {
  padding: 0 2%;
  padding-bottom: 0.8rem;
}
.btn:nth-child(1) {
  background-color: #e6e6e6;
  color: black;
  transition: all 0.2s;
}
.btn:nth-child(1):hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.btn {
  margin-right: 1rem;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 0.7rem 1.5rem;
  color: white;
  background-color: rgba(109, 109, 110, 0.7);
}
.btn:hover {
  background-color: rgba(109, 109, 110, 0.4);
  transition: all 0.2s;
}
.icon-btn {
  display: flex;
  letter-spacing: 2px;
  align-items: center;
}
.overlay {
  height: 11.9rem;
  background-image: linear-gradient(180deg, transparent, #161616);
}

@media screen and (max-width: 600px) {
  .banner-content {
    padding-top: 60%;
  }
  .banner-title {
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    max-width: 60%;
  }
  .banner-desc {
    max-width: 60%;
    /* padding-top: 1rem; */
    font-size: 0.85rem;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .overlay {
    height: 12.5rem;
  }
  .banner-content {
    padding-top: 65%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-desc {
    max-width: 60%;
    font-size: 0.85rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 376px) {
  .banner-content {
    padding-top: 95%;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-desc {
    max-width: 80%;
    font-size: 0.65rem;
    font-weight: 400;
  }
  .btn {
    margin-right: 1rem;
    font-weight: 700;
    font-size: 10px;
    padding: 0.7rem 1.2rem;
  }
}
